include CITATION.cff HISTORY.rst LICENSE README.md
include licenses/
include simplemma/py.typed
graft simplemma/strategies/

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
include tests/__init__.py tests/test_*.py
graft tests/data/
graft tests/strategies/

graft licenses/

include training/*.py training/*.rst training/*.txt

# recursive-include docs *.md
# include requirements-*.txt
