#include AUTHORS.rst
#include CONTRIBUTING.rst
include CITATION.cff
include HISTORY.rst
include LICENSE
include README.rst
include licenses/
include simplemma/py.typed
graft simplemma/data/

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
include tests/__init__.py tests/test_*.py
graft tests/data/

recursive-include conf.py Makefile make.bat *.jpg *.png *.gif
# recursive-include docs *.rst
